img {
    width: 55vw;
    margin: auto;
    display: block;
    border: solid 4px rgba(136, 192, 231, 0.544)
}

h1 {
    text-align: center;
    color: white;
    font-size: 50px;
    padding-bottom: 3vh
}

p {
    text-align: center;
    color: white;
    font-size: 20px;
    width: 50vw;
    margin: auto;
    padding-top: 4vh
}

.spacing {
    padding: 5vh 0vh
}

.background {
    background-image: url('https://oyster.ignimgs.com/wordpress/stg.ign.com/2015/11/John_Liberto_anubis_visionpiece_stamped.jpg');
    background-size: 100vw;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.blur {
    background: rgba(0, 0, 0, 0.8);
}